{% load i18n %}{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" href="{% static "img/favicon.ico" %}">
    <title>Environmental Data Logger</title>
    <link href="{% static "css/css.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-responsive.min.css" %}" rel="stylesheet">
    <link href="{% static "css/fonts.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/dashboard.css" %}" rel="stylesheet">
    <link href="{% static "css/ion.rangeSlider.css" %}" rel="stylesheet">
    <link href="{% static "css/ion.rangeSlider.skinModern.css" %}" rel="stylesheet">


    {% block style %}{% endblock %}
</head>
<body>
    <div class="navbar navbar-fixed-top" style="">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">Environmental Data Logger</a>
                <div class="nav-collapse">
                </div>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="main-inner">
            <div class="container">
            {% block content %}

                <div class="row">
                    <div class="span6">
                        <div class="widget widget-table action-table">
                            <div class="widget-header">
                                <i class="fa fa-hdd-o"></i>
                                <h3>Current Value</h3><i class="fa fa-minus"></i>
                                <div id="refresh-df">
                                </div>
                            </div>
                            <!-- /widget-header -->
                            <div class="widget-content">
                                <div  class="auto-margin" align="center">
                                    <br>
                                    <span class="last_val">
                                        <b id="last_sound_val"></b>
                                        <em>dB</em>
                                        <br><br><br><br>
                                        <b id="last_light_val"></b>
                                        <em>Lux</em>
                                        <br><br>
                                        <br><br>
                                        <i class="" id="last_time"></i><br>
                                    </span>
                                </div>
                            </div>
                            <!-- /widget-content -->
                        </div>
                        <!-- /widget -->
                    </div>
                    <div class="span6">
                        <div class="widget">
                            <div class="widget-header"> <i class="fa fa-exchange"></i>
                                <h3><span id="chart_title">Sound Level</span></h3><i class="fa fa-minus"></i>
                                <div id="refresh-ispeed">
                                </div>
                            </div>
                            <!-- /widget-header -->
                            <div class="widget-content">
                                <div class="auto-margin" align="center">
                                    <p></p>
                                    <div><canvas id="trfChart" width="540" height="240"></canvas></div>
                                    <table>
                                        <tr>
                                            <td>
                                                Chart:
                                            </td>
                                            <td>
                                                <label class="switch switch-flat">
                                                    <input class="switch-input" id="chk_chart_type" type="checkbox"/>
                                                    <span class="switch-label" data-on="sound" data-off="light"></span>
                                                    <span class="switch-handle"></span>
                                                </label>
                                            </td>
                                            <td width="10%"></td>
                                            <td>
                                                <div style="padding-top: 10px">
                                                    <span>Display : </span>
                                                    <input id="item_count" type="number" value="10" min="5"
                                                           max="50" step="1" style="width: 55px" oninput="show_chart()">
                                                    <span> Samples </span>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <div style="margin: 3% auto; width: 95%">
                                        <table width="100%">
                                            <tr>
                                                <td width="23%" style="font-size: large">
                                                    <b>Readings Every</b>
                                                </td>
                                                <td width="77%">
                                                    <input type="text" id="slider_rate" value="" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!--
                                    <div>
                                        <span class="netin">{% trans "pH 1" %}</span>
                                        <span class="netout">{% trans "pH 2" %}</span>
                                    </div>
                                    -->
                                </div>
                            </div>
                            <!-- /widget-content -->
                        </div>
                        <!-- /widget -->
                    </div>
                    <!-- /span6 -->
                </div>
                <!-- /row -->

                <div class="row">
                    <div class="span3">
                        <div class="widget widget-nopad">
                            <div class="widget-header">
                                <i class="fa fa-list-alt" style="margin-left: 3%"></i>
                                <h3>Data Logger</h3><i class="fa fa-minus"></i>
                                <div id="refresh-ram">
                                </div>
                            </div>
                            <!-- /widget-header -->
                            <div class="widget-content" style="color: #414042;">
                                <div class="auto-margin">
                                    <h4>Number of readings stored : <span id="mem_size"></span></h4><br>
                                    <table width="100%"><tr><th align="left">0</th><th align="right">100K</th></tr></table>
                                    <div id="progressBar" style="vertical-align: middle">
                                        <div></div>
                                    </div>
                                    <br>
                                    <div align="center">
                                       <button id="clear_memory" class="btn">Clear Memory</button>
                                       <button id="export_csv" class="btn">Export CSV File</button>
                                    </div>
                                </div>
                            </div>
                             <!-- /widget-content -->
                        </div>
                    </div>

                    <div class="span3">
                        <div class="widget widget-table action-table">
                            <div class="widget-header"> <i class="fa fa-dashboard"></i>
                                <h3>General Info</h3><i class="fa fa-minus"></i>
                                <div id="refresh-os">
                                </div>
                            </div>
                            <!-- /widget-header -->
                            <div class="widget-content">
                                <div class="auto-margin">
                                    <b>OS:</b> <span class="" id="get-osname"></span><br>
                                    <b>Uptime:</b> <span class="" id="get-uptime"></span><br>
                                    <b>Hostname:</b> <span class="" id="get-hostname"></span><br>
                                    <b>Kernel:</b> <span class="" id="get-kernel"></span><br>
                                    <b>CPU(s):</b> <span class="" id="get-cpucount"></span> x <span class="" id="get-cputype"></span>
                                    <br><br>
                                </div>
                            </div>
                            <!-- /widget-content -->
                        </div>
                        <!-- /widget -->
                    </div>

                    <div class="span6">
                        <div class="widget widget-table action-table">
                            <div class="widget-header">
                                <i class="fa fa-check"></i>
                                <h3>Settings</h3><i class="fa fa-minus"></i>
                                <div id="refresh-cpu">

                                </div>
                            </div>
                            <!-- /widget-header -->
                            <div class="widget-content">
                                <div class="auto-margin">
                                    <h4>

                                    </h4>
                                    <br>
                                    <table>
                                        <tr>
                                            <td style="vertical-align: middle">Settings Value :</td>
                                            <td style="padding-top: 10px">
                                                <select name="sound_val" id="sound_val" style="width: 60px;">
                                                    <option value=""></option>
                                                    <option value="7">7.0</option>
                                                    <option value="4">4.0</option>
                                                    <option value="10">10.0</option>
                                                </select>
                                            </td>
                                            <td width="30px"></td>
                                            <td style="vertical-align: middle">
                                                <button id="btn_cal" class="btn">Apply</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                            <!-- /widget-content -->
                      </div>
                      <!-- /widget -->
                    </div>
                </div>
            </div>
          <!-- /container -->
        </div>
        <!-- /main-inner -->
    </div>
    <!-- /main -->

    <div class="footer">
        <div class="footer-inner">
            <div class="container">
                <div class="row">
                    <div class="span6">&copy; 2016 by Wester de Weerdt </div>
                    <!-- /span12 -->
                </div>
            <!-- /row -->
            </div>
        <!-- /container -->
        </div>
        <!-- /footer-inner -->
    </div>
<!-- /footer -->

{% endblock %}

{% block script %}


    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/base.js" %}"></script>
    <script src="{% static "js/Chart.min.js" %}"></script>
    <script src="{% static "js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "js/dashboard.js" %}"></script>
    <script src="{% static "js/notify.js" %}"></script>
    <script src="{% static "js/jquery-asProgress.js" %}"></script>
    <script src="{% static "js/ion.rangeSlider.min.js" %}"></script>



<!--[if lte IE 8]>
    <script src="{% static "js/excanvas.js" %}"></script>
<![endif]-->


<script type="text/javascript">

    var $rate = $("#slider_rate");
    $rate.ionRangeSlider({
        type: "single",
        values: ["00:05", "00:10", "00:15", "00:20", "00:30", "01:00", "01:30", "02:00", "05:00", "10:00", "15:00", "20:00", "30:00"],
        grid: true,
        force_edges: true,

        onFinish: function (data) {
            var val = data.from_value;
            var tmp = val.split(':');
            var rate = parseInt(tmp[0]) * 60 + parseInt(tmp[1]);

            var url = '/info/setrate/' + rate.toString();
            $.get(url, function (data) {
                if (data == 'true'){
                    $('#title_rate').html(val);
                }
                else{
                }
            }, "json");
        }
    });

    // change the width of Chart depends on the window size
    var w = window.innerWidth;
    var canvas = document.getElementById('trfChart');
    if (w < 400){
        canvas.width = 300;
        canvas.height = 200;
    }
    else {
        if (w < 800) {
            canvas.width = 400;
            canvas.height = 220;
        }
    }

    var chart_tag = $("#trfChart");
    var trf_ctx = chart_tag.get(0).getContext("2d");
    var trfChart = new Chart(trf_ctx);

    function valid_hour(){
        var tag = $('#rate_h');
        if (tag.val() == 24){
            tag.val(0);
        }
    }

    function valid_min(){
        var tag = $('#rate_m');
        if (tag.val() == 60){
            tag.val(0);
            var h_tag = $('#rate_h');
            h_tag.val(parseInt(h_tag.val()) + 1);
        }
    }

    function valid_sec(){
        var tag = $('#rate_s');
        if (tag.val() == 60){
            tag.val(0);
            var m_tag = $('#rate_m');
            m_tag.val(parseInt(m_tag.val()) + 1);
            valid_min();
        }
    }

    function show_chart(sensor_type){
        var count = $('#item_count').val();

        if (sensor_type == undefined){
            if ($('#chk_chart_type').is(':checked')){
                sensor_type = 'sound';
            }

        }

        if (sensor_type == 'sound'){
            $.getJSON('/getlastvalues/' + count, function(data) {
                var options = {
                    animation : false,
                    pointDotRadius : 2,
                    scaleLabel : "<%=value%> dB"
                };
                trfChart.Line(data, options);
            });
            $('#chart_title').html('Sound Level');
        }
        else{
            $.getJSON('/get_last_light_values/' + count, function(data) {
                var options = {
                    animation : false,
                    pointDotRadius : 2,
                    scaleLabel : "<%=value%> Lux"
                };
                trfChart.Line(data, options);
            });
            $('#chart_title').html('Light Level');
        }
    }

    $('#chk_chart_type').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox
        if ($this.is(':checked')) {
            show_chart('sound');
        } else {
            show_chart('light');
        }
    });

    function get_rate(){

        $.get('/info/getrate/', function (data) {
            var total_sec = parseInt(data);

            var slider = $("#slider_rate").data("ionRangeSlider");
            var var_option = slider.options;
            var cur_num = 0;
            for (i=0; i < var_option.values.length; i++){
                var tmp = var_option.values[i].split(":");
                var val = parseInt(tmp[0]) * 60 + parseInt(tmp[1]);
                if (val == total_sec){
                    cur_num = i;
                    break;
                }
            }
            slider.update({
                from: cur_num
            });

        }, "json");
    }

//    function get_last_cal_time(){
//        $.get('/info/get_last_cal_time/', function (data) {
//            $.notify("Last calibrated time: " + data + ".\n To ensure the accuracy, " +
//                "it is highly recommended \nto calibrate 2 or 3 point calibration before using.",{
//                position: 'right',
//                autoHide: true,
//                autoHideDelay: 6000,
//                className: 'success'
//            });
//        }, "json");
//    }

    $('#btn_cal').click(function() {

        var val = $('#ph_val').val();

        if (val != ""){
            var url = '/info/cal/' + val;
            $.get(url, function (data) {
                if (data == 'step1'){
                    alert("OK, First calibration done.\nNow please perform with another pH buffer.")
                }
                else{
                    if (data == 'false')
                    {
                        alert("Failed to calibration. Please try again later.")
                    }
                    else{
                        alert("Congratulations. Calibration done!")
                    }
                }
            }, "json");

        }
        else{
            alert("Please set pH value of probe.");
        }

    });

    $('#set_rate').click(function() {

        var val = $('#rate_h').val()*3600 + $('#rate_m').val()*60 + $('#rate_s').val();

        if (val > 0){
            var url = '/info/setrate/' + val.toString();
            $.get(url, function (data) {
                if (data == 'true'){
                    alert("Setting rate done.")
                }
                else{
                }
            }, "json");

        }
        else{
            alert("Please set value greater than 0");
        }

    });

    $('#clear_memory').click(function() {
        if (confirm('All data will be removed. Are you sure?')) {
            var url = '/info/clearlog/';
            $.get(url, function (data) {
                if (data == 'true') {
                    alert("Clearing done.")
                }
                else {
                    alert("Failed to clear log.")
                }
            }, "json");
        }

    });

    $('#export_csv').click(function() {
        window.open('/info/export_csv', '_blank');
    });

    $(function() {
            window.setInterval('dashboard.getUptime()', {{ time_refresh_long }});
            window.setInterval('dashboard.getLastVal()', {{ time_refresh_net }});
            window.setInterval('dashboard.getUsers()', {{ time_refresh_long }});
            window.setInterval('dashboard.getNetstat()', {{ time_refresh_long }});
            window.setInterval('show_chart()', {{ time_refresh_net }});
            window.setInterval('dashboard.get_log_count()', {{ time_refresh_long }});

        });

    $(function pageLoad() {
        show_chart();
        get_rate();
        dashboard.getOSname();
        dashboard.getUptime();
        dashboard.getHostname();
        dashboard.getKernel();
        dashboard.getCPUcount();
        dashboard.getCPUtype();
        dashboard.getLastVal();
        dashboard.get_log_count();
//        get_last_cal_time();

//        $.notify({
//            title: 'Would you like some Foo ?',
//            button: 'Confirm'
//            }, {
//            style: 'foo',
//            autoHide: false,
//            position: 'bottom',
//            clickToHide: false
//            });
//
        });

//    //add a new style 'foo'
//    $.notify.addStyle('foo', {
//      html:
//        "<div>" +
//          "<div class='clearfix'>" +
//            "<div class='title' data-notify-html='title'/>" +
//            "<div class='buttons'>" +
//              "<button class='no'>Cancel</button>" +
//              "<button class='yes' data-notify-text='button'></button>" +
//            "</div>" +
//          "</div>" +
//        "</div>"
//    });
//
//    //listen for click events from this style
//    $(document).on('click', '.notifyjs-foo-base .no', function() {
//      //programmatically trigger propogating hide event
//      $(this).trigger('notify-hide');
//    });
//    $(document).on('click', '.notifyjs-foo-base .yes', function() {
//      //show button text
//      alert($(this).text() + " clicked!");
//      //hide notification
//      $(this).trigger('notify-hide');
//    });

</script>


{% endblock %}

</body>

</html>
