/*------------------------------------------------------------------
Bootstrap Admin Template by EGrappler.com
------------------------------------------------------------------*/



/*------------------------------------------------------------------
[1. Shortcuts / .shortcuts]
*/

.shortcuts {
	text-align: center;	
}

.shortcuts .shortcut { 
	width: 22.50%;
	display: inline-block;
	padding: 12px 0;
	margin: 0 .9% 1em;
	vertical-align: top;	
	
	text-decoration: none;
	
	background: #f9f6f1;
	
	border-radius: 5px;
}

.shortcuts .shortcut .shortcut-icon {
	margin-top: .25em;
	margin-bottom: .25em;
	
	font-size: 32px;
	color: #545454;
}

.shortcuts .shortcut:hover {
	background: #00ba8b;
}

.shortcuts .shortcut:hover span{
	color: #fff;
}

.shortcuts .shortcut:hover .shortcut-icon {
	color: #fff;
}

.shortcuts .shortcut-label {
	display: block;
	
	font-weight: 400;
	color: #545454;
}



/*------------------------------------------------------------------
[2. Stats / .stats]
*/

.stats {
	width: 100%;
	display: table;
	padding: 0 0 0 10px;
	margin-top: .5em;
	margin-bottom: 1.9em;
}

.stats .stat {
	display: table-cell;
	width: 40%;
	vertical-align: top;
	
	font-size: 11px;
	font-weight: bold;
	color: #999;
}

.stat-value {
	display: block;
	margin-bottom: .55em;
	
	font-size: 30px;
	font-weight: bold;
	letter-spacing: -2px;
	color: #444;
}

.stat-time {
	text-align: center;
	padding-top: 1.5em;
}

.stat-time .stat-value {
	color: #19bc9c;
	font-size: 40px;
}

.stats #donut-chart {
	height: 100px;
	margin-left: -20px;	
}





/*------------------------------------------------------------------
[3. News Item / .news-items]
*/

.news-items {
	margin: 1em 0 0;
}

.news-items li {
	display: table;
    padding: 0 2em 1em 1.5em;
    margin-bottom: 1em;
	border-bottom: 1px dotted #CCC;
}

.news-items li:last-child { padding-bottom: 0; border: none; }

.news-item-date {
	display: table-cell;
}

.news-item-detail {
	display: table-cell;
}

.news-item-title {
	font-size: 13px;
	font-weight: 600;
}

.news-item-date {
	width: 75px;
	vertical-align: middle;
	text-align: center;
	
}

.news-item-day {
	display: block;
	margin-bottom: .25em;
	
	font-size: 24px;
	color: #888;
}

.news-item-preview {
	margin-bottom: 0;
	
	color: #777;
}

.news-item-month {
	display: block;
	padding-right: 1px;	
	
	font-size: 12px;
	font-weight: 600;
	color: #888;
}



/*------------------------------------------------------------------
[4. Action Table / .action-table]
*/

.action-table .btn-small {
	padding: 4px 5px 5px;
	
	font-size: 10px;
}

.action-table .td-actions { 
	width: 80px; 
	
	text-align: center; 
}

.action-table .td-actions .btn { 
	margin-right: .5em;		
}
	
.action-table .td-actions .btn:last-child { 
	margin-right: 0;
}
	
	
	
#big_stats  {
	width: 100%; 
	display: table;
	margin-top: 1.5em;
}

.big-stats-container .widget-content {
	border:0;
}

#big_stats .stat {
	width: 35%;
	height: 90px;
	text-align: center;
	display: table-cell;
	padding: 0;
	position: relative;
	
	border-right: 1px solid #CCC;
	border-left: 1px solid #FFF;
}

#big_stats  i { font-size:20px; display:block; line-height: 30px; color:#b2afaa; }
#big_stats .stat i { color:#19bc9c; }

h6.bigstats {
    border-bottom: 1px solid #eee;
	padding-bottom: 20px;
    margin: 20px 20px 26px;
}

#big_stats .stat:first-child {
	border-left: none;
	width:35%;
}

#big_stats .stat:last-child {
	border-right: none;
	width:35%;
}

#big_stats .stat h4 {
	font-size: 11px;
	font-weight: bold;
	color: #777;
	margin-bottom: 1.5em;
}

#big_stats .stat .value {
	font-size: 20px;
	font-weight: bold;
	color: #545454;
	line-height: 1em;
}



@media all and (max-width: 950px) and (min-width: 1px) {
	
	#big_stats {
		display: block;
		margin-bottom: -10px;
	}
	
	#big_stats .stat {
		width: 25%;
		display: block;
		margin-bottom: 1em;
		float: left;
	}	
	
	
	
}

@media (max-width: 767px) {
	#big_stats .stat .value {
		font-size: 25px;
	}
}
	
	
	
	
@media (max-width: 979px) {
	
	.shortcuts .shortcut {
		width: 31%;
	}
}


@media (max-width: 480px) {
	
	.stats .stat {
		
		margin-bottom: 3em;
	}
	
	.stats .stat .stat-value {
		margin-bottom: .15em;
		
		font-size: 20px;
	}
	
	.stats {
		float: left;
		
		display: block;
		
		margin-bottom: 0;
	}
	
	#chart-stats {
		margin: 2em 0 1em;		
	}
	
	.shortcuts .shortcut {
		width: 48%;
	}
}

.widget-content { padding:0; }
.dataTables_length { display:none; }
.dataTable { margin-bottom:0; }

.pulse {
   background:#19bc9c;
   border:1px solid #19bc9c;
   color:white;
}

.pulse-border {
   border-color:#19bc9c;
}

.navbar {
   position:fixed;
   top:0;
   z-index:9999999;
   width:100%;
}

.subnavbar {
   position:fixed;
   top:50px;
   z-index:9999999;
   width:100%;
}

.main {
   margin-top:70px;
}
.dataTables_paginate{ width:100%; text-align:center; margin-top:10px; margin-left:-30px;}
.dataTables_paginate a{ margin-left:8px;}
.dataTables_paginate a:hover{ cursor:pointer;}
.navbar-fixed-top{  margin-left:0;}
.widget-search{display: inline-block; vertical-align: middle; margin: 0 6px; width: 200px;}

.netin {
    margin: 0.5em;
    border: 0 solid rgb(105, 210, 231);
    border-left-width: 1em;
    padding: 0 0.3em;
}
.netout {
    margin: 0.5em;
    border: 0 solid rgb(227, 48, 81);
    border-left-width: 1em;
    padding: 0 0.3em;
}
.cpuu {
    margin: 0.5em;
    border: 0 solid rgb(247, 70, 74);
    border-left-width: 1em;
    padding: 0 0.3em;
}
.cpuf {
    margin: 0.5em;
    border: 0 solid rgb(10, 209, 27);
    border-left-width: 1em;
    padding: 0 0.3em;
}
.diskr {
    margin: 0.5em;
    border: 0 solid rgb(245, 134, 15);
    border-left-width: 1em;
    padding: 0 0.3em;
}
.diskw {
    margin: 0.5em;
    border: 0 solid rgb(15, 103, 245);
    border-left-width: 1em;
    padding: 0 0.3em;
}
.memf {
    margin: 0.5em;
    border: 0 solid rgb(43, 214, 66);
    border-left-width: 1em;
    padding: 0 0.3em;
}
.memu {
    margin: 0.5em;
    border: 0 solid rgb(247, 70, 74);
    border-left-width: 1em;
    padding: 0 0.3em;
}
.memb {
    margin: 0.5em;
    border: 0 solid rgb(0, 154, 205);
    border-left-width: 1em;
    padding: 0 0.3em;
}
.memc {
    margin: 0.5em;
    border: 0 solid rgb(255, 185, 15);
    border-left-width: 1em;
    padding: 0 0.3em;
}
